<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <header th:replace="layout/layout :: header"></header>

        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>

                <div class="card-body">
                    <img class="img-thumbnail rounded float-left"
                         style="max-width: 25%;" th:src="@{'/img/' + ${person.img}}" th:alt="${person.img}"/>

                    <ul class="list-group">
                        <li class="list-group-item" th:text="${person.name}"></li>
                        <li class="list-group-item" th:text="${person.age}"></li>
                        <li class="list-group-item" th:text="${person.phone}"></li>
                        <li class="list-group-item" th:text="${person.admin}"></li>
                        <li class="list-group-item" th:text="${person.mail}"></li>
                        <li class="list-group-item" th:text="${person.municipio}"></li>
                        <td sec:authorize="hasRole('ROLE_ADMIN')  or hasRole('ROLE_USER')" ><a class="btn btn-primary btn-xs" th:href="@{/formUser/} + ${person.id}" th:text="'Editar'" ></a></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')  or hasRole('ROLE_USER')"><a class="btn btn-danger btn-xs" th:href="@{/userDelete/} + ${person.id}" onclick="return confirm('Estas seguro que quieres eliminar?');" th:text="'Eliminar'" ></a></td>

                    </ul>
                </div>
            </div>
        </div> 

        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
